:root {
    --white: #ffffff;
    --celeste: #caf0f8;
    --celeste2: #ade8f4;
    --blue: #00b4d8;
    --green: #a7c957;
    --red: #e63946;
}

body {
    background-color: var(--celeste);
}

header, footer {
    height: 70px;
    background-color: var(--white);
}

main {
    height: calc(100vh - 140px);
    overflow-y: auto;
}

img {
    width: 100%;
}

.my-text-blue {
    color: var(--blue);
}

.img-piccole {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#container-piccole {
    background-color: #000000;
}

.container-img {
    position: relative;
}

.wrapper {
    position: relative;
}

.img-grande {
    height: 550px;
    object-fit: cover;
    display: none;
}

.img-grande.show, .title.show, .description.show {
    display: block;
}

.active {
    outline: 5px solid rgb(187, 187, 187);
    outline-offset: -.3rem;
    opacity: 1;
}

.title {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
}

.description {
    display: none;
    width: 55%;
    text-align: end;
    position: absolute;
    top: 4rem;
    right: 1rem;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px #000000
}

#right-arrow{
    position: absolute;
    right: 17%;
    top: 50%;
    color: white;
    opacity: 0.8;
    font-size: 50px;
    cursor: pointer;
    transform: translateY(-50%);
}

#left-arrow{
    position: absolute;
    left: 17%;
    top: 50%;
    color: white;
    opacity: 0.8;
    font-size: 50px;
    cursor: pointer;
    transform: translateY(-50%);
}

.bottone {
    border-radius: 10px;
    padding: 3px 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
}

#start {
    background-color: var(--green);
    border: 1px solid var(--green);
}

#inverti {
    background-color: var(--blue);
    border: 1px solid var(--blue);
}

#stop {
    background-color: var(--red);
    border: 1px solid var(--red);
}

footer a {
    color: var(--blue);
}

/* ! Effetti Hover */
button:hover {
    opacity: 80%;
    transition: 0.1s;
}

#start:hover {
    outline: 3px solid var(--green);
    outline-offset: 3px;
}

#inverti:hover {
    outline: 3px solid var(--blue);
    outline-offset: 3px;
}

#stop:hover {
    outline: 3px solid var(--red);
    outline-offset: 3px;
}

footer a:hover {
    transition: 0.4s;
}